# Node modules
node_modules/
*/node_modules/

# Environment variables
.env
*/.env

# Logs
logs
*.log
npm-debug.log*

# Build directories
*/dist
*/build

# Dependency directories
.npm

# OS files
.DS_Store
Thumbs.db